<% @page = "webview" %>
<% @navigation = "layouts/webview" %>

<%= image_tag("galaxy-webview-s3.png") %>
<iframe src="<%= root_path %>">
  <p>Your browser does not support iframes. Check out http://transitalarm.herokuapp.com on your mobile phone instead!</p>
</iframe>