body {
  // background-color: #0ae;
  // background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
  // background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  // background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  // background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  // -webkit-background-size: 50px 50px;
  // -moz-background-size: 50px 50px;
  // background-size: 50px 50px;
}

#container {
  // margin: 30px 30px;
  a {
    color: white;
  }
}

#bus-nav {
  margin-top: -4px;
  margin-right: 1px;
}

#routes-index {
  #welcome {
    position: absolute;
    padding: 0 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    h1 {
      font-size: 1.7em;
    }
    #bus {
      margin: 20px;
    }
    #smiles {
      position: absolute;
      left: 48%;
      top: 16%;
    }
  }
  .routes-tile {
    padding: 15px 20px;
    margin-bottom: 1px;
    background-color: #3284be;
    border: 10px solid #84B9DF;
    h1 {
      font-size: 2.5em;
    }
    .route-title {
      margin-left: 12px;
      margin-right: 20px;
      padding: 0;
      h1 {
        margin: 0;
        margin-top: -10px;
        padding: 0;
      }
    }
    .direction {
      margin-left: -6px;
      margin-right: -10px;
      &:active {
        color: #104F7C;
      }
      span {
        font-size: 0.9em;
      }
    }
  }
}

#routes-show {
  #header {
    h1 {
      font-size: 1.8em;
      padding: 6px 12px;
      padding-top: 8px;
    }
  }
  .stops-tile {
    padding: 15px;
    border: 5px solid #84B9DF;
    margin-bottom: 1px;
    &:active {
      border: 6px solid #84B9DF;
      background-color: #104F7C;
    }
  }
}

#journeys-new {
  #header {
    font-size: 1.8em;
    padding: 5px 12px;
    margin: 25px 0;
    // letter-spacing: 1px;
  }
  label {
    color: white;
    font-size: 1em;
  }
  input {
    -moz-appearance: none;
    margin: 0;
    border: none;
    padding: 0;
    border: 4px solid white;
    background: none;
    border-radius: 0px;
  }
  input[type=submit] {
    -moz-appearance:none;
    padding: 10px 20px;
    background-color: #84B9DF;
    color: black;
    font-size: 1em;
    font-family: 'Lato';
    margin-top: 10px;
    &:active {
      background-color: #104F7C;
      color: white;
    }
  }
  .submit {
    text-align: center;
    padding: 0;
    margin-top: 10px;
  }
}

#journeys-show {
  #map-canvas {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    // margin-top: 30px;
    // border: 10px solid white;
  }
  #firstheading {
    font-size: 1em;
    color: black;
    font-weight: 300;
  }
  #closest-stop {
    padding: 0 10px;
    padding-top: 18px;
    h1 {
      font-size: 1.3em;
      margin-top: 10px;
      margin-bottom: 0;
    }
    h3 {
      font-size: 1.6em;
      margin: 0;
    }
  }
  #destination {
    position: absolute;
    background-color: #444;
    width: 100%;    
    bottom: 0;
    padding: 15px 0;
    h2 {
      font-size: 1em;
      padding: 0;
      margin: 0;
    }
  }
}

#webview {
  .row {
    margin: 0;
  }
  background-color: white;
  img {
    vertical-align: top;
    width: 400px;
    height: 727px;
  }
  iframe {
    position: absolute;
    left: 45px;
    top: 96px;
    border-radius: 10px;
    width: 365px;
    height: 562px;
    -ms-zoom: 0.85;
    -moz-transform: scale(0.85);
    -moz-transform-origin: 0px 0;
    -o-transform: scale(0.85);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.85);
    -webkit-transform-origin: 0 0; 
    transform: scale(0.85);
    transform-origin: 0 0; 
  }
}

// @media (min-width: 600px) {
//   body {
//     background-color: white;
//     width: 400px;
//     max-height: 640px;
//   }
//   #container {
//   }
// }