body {
  // background-color: #0ae;
  // background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
  // background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  // background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  // background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  // -webkit-background-size: 50px 50px;
  // -moz-background-size: 50px 50px;
  // background-size: 50px 50px;
}

#container {
  // margin: 30px 30px;
  a {
    color: white;
  }
}

#bus-nav {
  margin-top: -4px;
  margin-right: 1px;
}

#routes-index {
  #welcome {
    position: absolute;
    padding: 0 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    h1 {
      font-size: 1.7em;
    }
    #bus {
      margin: 20px;
    }
    #smiles {
      position: absolute;
      left: 48%;
      top: 16%;
    }
  }
  .routes-tile {
    padding: 15px 20px;
    margin-bottom: 1px;
    background-color: #3284be;
    border: 10px solid #84B9DF;
    h1 {
      font-size: 2.5em;
    }
    .route-title {
      margin-left: 12px;
      margin-right: 20px;
      padding: 0;
      h1 {
        margin: 0;
        margin-top: -10px;
        padding: 0;
      }
    }
    .direction {
      margin-left: -6px;
      margin-right: -10px;
      &:active {
        color: #104F7C;
      }
      span {
        font-size: 0.9em;
      }
    }
  }
}

#routes-show {
  #header {
    h1 {
      font-size: 1.8em;
      padding: 6px 12px;
      padding-top: 8px;
    }
  }
  .stops-tile {
    padding: 15px;
    border: 5px solid #84B9DF;
    margin-bottom: 1px;
    &:active {
      border: 6px solid #84B9DF;
      background-color: #104F7C;
    }
  }
}

#journeys-new {
  #header {
    font-size: 1.8em;
    padding: 5px 12px;
    margin: 25px 0;
    // letter-spacing: 1px;
  }
  label {
    color: white;
    font-size: 1em;
  }
  input {
    -moz-appearance: none;
    margin: 0;
    border: none;
    padding: 0;
    border: 4px solid white;
    background: none;
    border-radius: 0px;
  }
  input[type=submit] {
    -moz-appearance:none;
    padding: 10px 20px;
    background-color: #84B9DF;
    color: black;
    font-size: 1em;
    font-family: 'Lato';
    margin-top: 10px;
    &:active {
      background-color: #104F7C;
      color: white;
    }
  }
  .submit {
    text-align: center;
    padding: 0;
    margin-top: 10px;
  }
}

#journeys-show {
  #map-canvas {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    // margin-top: 30px;
    // border: 10px solid white;
  }
  #firstheading {
    font-size: 1em;
    color: black;
    font-weight: 300;
  }
  #closest-stop {
    padding: 0 10px;
    h1 {
      font-size: 1.3em;
      margin-top: 10px;
      margin-bottom: 0;
    }
    h3 {
      font-size: 1.6em;
      margin: 0;
    }
  }
  #footer {
    position: absolute;
    background-color: #555;
    width: 100%;    
    bottom: 0;
    h2 {
      font-size: 1em;
      padding: 0;
      margin: 0;
    }
  }
  #destination {
    padding: 10px 0;
  }
  #route {
    background-color: #333;
    padding: 10px 0;
    margin: 0;
  }
}

// @-webkit-keyframes topbar-dropdown {
//   0% {
//     -webkit-transform: translateY(-100%);
//     opacity: 0;
//   }

//   100% {
//     -webkit-transform: translateY(0);
//      opacity: 1.0;
//  }
// }

// @-moz-keyframes topbar-dropdown {
//   0% {
//     -moz-transform: translateY(-100%);
//      opacity: 0;
//  }

//   100% {
//     -moz-transform: translateY(0);
//      opacity: 1.0;
//  }
// }

// @-ms-keyframes topbar-dropdown {
//   0% {
//     -ms-transform: translateY(-100%);
//     opacity: 0;
//   }

//   100% {
//     -ms-transform: translateY(0);
//     opacity: 1.0;
//   }
// }

// @keyframes topbar-dropdown {
//   0% {
//     transform: translateY(-100%);
//     opacity: 0;
//   }

//   100% {
//     transform: translateY(0);
//     opacity: 1.0;
//   }
// }

// .top-bar .title-area {
//   position: relative;
//   z-index: 1;  
// }
// .top-bar-section > ul {
//   z-index: 0;
// }

// .expanded .top-bar-section > ul {
//   -webkit-animation: topbar-dropdown 0.5s ease;
//   -moz-animation: topbar-dropdown 0.5s ease;
//   -ms-animation: topbar-dropdown 0.5s ease;
//   animation: topbar-dropdown 0.5s ease;
// }

// @media screen and (min-width: 768px) {
//     .top-bar-section > ul {
//         position: initial;
//         z-index: initial;
//     }
    
// }