#container {
  // margin: 30px 30px;
}

#routes-index {
  #welcome {
    position: absolute;
    padding: 0 30px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    h1 {
      font-size: 1.7em;
    }
    #bus {
      // filter: invert(100%);
      // -o-filter: invert(100%);
      // -ms-filter: invert(100%);
      // -moz-filter: invert(100%);
      // -webkit-filter: invert(100%);
      margin: 20px;
    }
  }
  .routes-tile {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #3284be;
    border: 8px solid #84B9DF;
    a {
      color: white;
    }
    .route-title {
      margin: 0;
      padding: 0;
      h2 {
        margin: 0;
        padding: 0;
      }
    }
    .direction-box {
      background-color: gray;
    }
  }
}